<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html"/>
		<meta name="viewport" content="width=device-width"/>

		<title>{% block title %}{% endblock %} - cables</title>
<link rel="preconnect" href="https://fonts.bunny.net">
<link href="https://fonts.bunny.net/css?family=livvic:200,300,400,600,700" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">

		<!-- Choices.js - used for rich selectors -->
		<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@10.2.0/public/assets/styles/choices.min.css"/>
		<script src="https://cdn.jsdelivr.net/npm/choices.js@10.2.0/public/assets/scripts/choices.min.js"></script>-->

	</head>

 	<body>
		<div id="navbar">
			<ul>
				<li class="logo"><a href="/"><span class="logo">cables</span></a></li>
				<li>
					{% if session["user"] %}
						<button id="user-menu-button"><span class="user-icon" style="background-image: url('{{ session["user"].avatar_url }}');"></span> <span class="username"><b>{{ session["user"].username }}</b>#{{ session["user"].discriminator }}</span></button>
						<div id="user-menu-popup" class="popup-menu">
							<ul>
								<li><a href="/auth/logout">Log out</a></li>
							</ul>
						</div>
					{% else %}
						<a href="/auth/login">Log in</a>
					{% endif %}
				</li>
			</ul>
		</div>

		<div class="content{% if is_config_page %} config-container{% endif %}{% if is_error_page %} error-page-container{% endif %}">
			{% block content %}{% endblock %}
		</div>

		<footer>
			<p>cables {{ version }} | <a href="https://gitlab.com/aria.theater/cables">source code</a></p>
		</footer>

		<script src="/static/page.js"></script>
	</body>
</html>
