{% extends "errors/base.html" %}

{% block title %}403 Not Allowed{% endblock %}

{% block errormessage %}
			<h1>403</h1>
			<p>You are not authorized to access this page. Log in and try again.</p>
			<a class="button" href="/">Back to index</a>
{% endblock %}
