{% extends "errors/base.html" %}

{% block title %}404 Not Found{% endblock %}

{% block errormessage %}
			<h1>404</h1>
			<p>The page you requested could not be found. Check if the URL is correct.</p>
			<a class="button" href="/">Back to index</a>
{% endblock %}
