{% extends "errors/base.html" %}

{% block title %}500 Server Error{% endblock %}

{% block errormessage %}
			<h1>500</h1>
			<p>The server may currently be overloaded. Refresh the page or try again in a few minutes.</p>
{% endblock %}
