{% extends "errors/base.html" %}

{% block title %}Authentication Error{% endblock %}

{% block errormessage %}
			<h1>oops...</h1>
			<p>An error has occured during authentication. Error message: <i>{{ message }}</i></p>
			<a class="button" href="/auth/login">Try again</a>
{% endblock %}
