{% set is_config_page = True %}
{% extends "base.html" %}

{% block title %}{{ section.capitalize() }} ({{guild.name}}){% endblock %}

{% block content -%}
	{% set _lists = [] %}
	<nav id="content-sidebar">
		<ul>
			<li>
				<div class="server-banner">
					<span class="server-icon" style="background-image: url('{{ guild.icon_url }}&ignoreme');"></span>
					<div class="server-info">
						<span class="server-name">{{ guild.name }}</span><br>
						<a class="back-link" href="/guilds">Select another guild</a>
					</div>
				</div>
			</li>
			{% for _section in ('overview', 'guild', 'moderation', 'notifications', 'fun') %}
			<li><a class="nav-button{% if section == _section %} selected{% endif %}" href="{% if section == _section %}#{% else %}/guilds/{{ guild.id }}/{{ _section }}{% endif %}">{{ _section.capitalize() }}</a></li>
			{% endfor %}
		</ul>
		<div class="nav-shade"></div>
	</nav>

	<div class="content has-navbar">
		<h1><button class="sidebar-open-button"><i class="fa fa-bars" aria-hidden="true"></i></button>{{ section.capitalize() }}</h1>

		{% block beforekeys %}{% endblock %}

		{% if config_data %}
		<form id="config-form" method="post">
			{% for subsection, keys in config_data.items() %}
			<div class="section-header">
				{% if subsection in section_toggles %}
					<div class="control">
					{{ generate_switch( section_toggles[subsection], toggles_section=subsection.lower().replace(' ', '-'))|safe }}
					</div>
				{% endif %}
				<div class="description">
					<h2 class="section-title">{{ subsection }}</h2>
					{% if subsection in section_descriptions %}<p class="subtitle">{{ section_descriptions[subsection] }}</p>{% endif %}
				</div>
			</div>

			<div class="rows" id="{{ subsection.lower().replace(' ', '-') }}-content">
				{% for key in keys %}
					<div class="row{% if 'list' in key.type %} control-is-list{% endif %}">
						<div class="description">
							<h3 class="title">{{ key.title }}</h3>
							<p class="subtitle">{{ key.description }}</p>
						</div>
						<div class="control">
							{{ generate_control(key, guild)|safe }}
						</div>
					</div>
				{% endfor %}
			</div>
			{% endfor %}
		</form>

		{% endif %}

		{% block afterkeys %} {% endblock %}

		<div id="savebar">
			<p id="unsaved-warning">Careful - you have unsaved changes.</p>
			<a id="reset-link" href="#">Reset</a>
			<button id="save-button">Save</button>
		</div>
	</div>

	<script src="/static/config.js"></script>
	{% if _lists %}
		<script>{% for id, values in _lists %}initList("{{id}}", {{values}});{% endfor %}</script>
	{% endif %}

{%- endblock %}

{# Control generation macros #}

{% macro generate_switch(data, toggles_section=False) -%}
	{# Generate boolean on/off switch. toggles_section argument is set to the
	   section name if the toggle is for a settings page section. #}
	<label class="switch">
		<input name="{{ data['module'] }}.{{ data['key'] }}" type="checkbox"
			{% if data["value"] %} checked {% endif %}
			{% if toggles_section %} class="section-toggle" section="{{toggles_section}}" {% endif %}
			/>
		<span class="slider"></span> {# used for slider CSS overlay #}
	</label>
{%- endmacro %}

{% macro generate_input(data) -%}
	<input name="{{ data['module'] }}.{{ data['key'] }}"
		{% if data["value"] %} value="{{ data['value'] }}" {% endif %}
		/>
{%- endmacro %}

{% macro generate_selector(data, guild) -%}
	<select name="{{ data['module'] }}.{{ data['key'] }}">
	{% if not data["required"] %}
		<option value="" {% if not data["value"] %} selected {% endif %}>(none)</option>
	{% endif %}

	{# Fill in options #}
	{% for key_type, source in (
		("channel", guild["channels"]),
		("role", guild["roles"]),
		("user", guild["members"]),
	) if key_type in data["purpose"] %}
		<optgroup label="{{ key_type.capitalize() }}s">

			{% for item in source %}
			<option value="{{ item["id"] }}" {% if data["value"]|string == item["id"]|string %} selected {% endif %}>
				{% if key_type == "channel" %}
					{% if item["type"] == "category" %}
						-- {{ item['name'] }} --
					{% elif item["type"] == "text" %}
						#{{ item['name'] }}
					{% else %}
						{{ item['name'] }}
					{% endif %}

				{% elif key_type == "role" %}
					{{ item['name'] }}

				{% elif key_type == "user" %}
					{% if item["nick"] %}
						{{ item['nick'] }} ({{ item['name'] }}#{{ item['discriminator'] }})
					{% else %}
						{{ item['name'] }}#{{ item['discriminator'] }}
					{% endif %}

				{% endif %}
			</option>
			{% endfor %}
		</optgroup>
		{% endfor %}
	</select>
{%- endmacro %}

{% macro generate_list(data, guild) -%}
	{# Extract data type from type value #}
	{% if data["type"] == "list" %} {# no type provided, assume str #}
		{% set item_type = "str" %}
	{% else %} {# list[type] format #}
		{% set item_type = data["type"][5:-1] %}
	{% endif %}

	{% if not data["value"] %}
		{% set _list = [None] %}
	{% else %}
		{% set _list = data["value"] + [None] %}
	{% endif %}

	<ul class="input-list" id="{{ data['module'] }}-{{ data['key'] }}" key="{{ data['module'] }}.{{ data['key'] }}">
		{% for value in _list %}
			{% set _data = {
				"module": data["module"],
				"key": data["key"] ~ '[' ~ loop.index0 ~ ']',
				"type": item_type,
				"purpose": data["purpose"],
				"value": value
				}
			%}

			<li class="input-list-item">
				{{ generate_control(_data, guild) }}
				<button type="button" class="remove-button"
					name="{{ data['module'] }}.{{ data['key'] }}[{{ loop.index0 }}]"
					{% if not value %} disabled {% endif %}>
					<i class="fa fa-minus" aria-hidden="true"></i>
				</button>
			</li>
		{% endfor %}
	</ul>
{%- endmacro %}

{% macro generate_control(data, guild) -%}
	{# Generates a control based on the key type and purpose. #}

	{% if "list" in data["type"] %}
		{{ generate_list(data, guild) }}
	{% elif data["type"] == "str" or data["type"] == "int" %}
		{% if "id" in data["purpose"] %}
			{{ generate_selector(data, guild) }}
		{% else %}
			{{ generate_input(data) }}
		{% endif %}
	{% elif data["type"] == "bool" %}
		{{ generate_switch(data) }}
	{% else %}
		<b>unknown control type type:{{ data['type'] }} purpose:{{ data['purpose'] }}</b>
	{% endif %}
{%- endmacro %}
