{% set is_config_page = True %}
{% extends "base.html" %}

{% block title %}Your servers{% endblock %}

{% block content %}
	<div class="ribbon"></div>

	<div class="content">
		<h1>Your servers</h1>

		{% if managed_guilds or unmanaged_guilds %}
			<div class="guild-list">
			{% for guild in managed_guilds %}
				<div class="row">
					<div class="description">
						<span class="server-icon" style="background-image: url('{{ guild.icon_url }}')"></span>
						<h2 class="title">{{ guild.name }}</h2>
					</div>
					<div class="control">
						<a href="/guilds/{{ guild.id }}" class="button accent-1">Settings</a>
					</div>
				</div>
			{% endfor %}
			{% if unmanaged_guilds %}
				<h2>Invite to a server</h2><hr>
			{% for guild in unmanaged_guilds %}
				<div class="row unmanaged">
					<div class="description">
						<span class="server-icon" style="background-image: url('{{ guild.icon_url }}')"></span>
						<h2 class="title">{{ guild.name }}</h2>
					</div>
					<div class="control">
						<a href="/invite?guild_id={{ guild.id }}" class="button">Invite</a>
					</div>
				</div>
			{% endfor %}
			{% endif %}
			</div>
		{% else %}
			<p class="dim">You are not an administrator in any servers.</p>
		{% endif %}
	</div>
{% endblock %}
