{% extends "config/config_base.html" %}

{% block beforekeys %}
	<h3>Statistics (last 7 days)</h3>
	<div class="cardbox">
		<div class="card card-span-2">
			<span class="card-num">{{ stats.msgs }}</span>
			<span class="card-subtitle">messages</span>
		</div>

		<div class="card">
			<span class="card-num">{{ stats.active_chans }}</span>
			<span class="card-subtitle">active channels</span>
		</div>

		<div class="card">
			<span class="card-num">{{ stats.parts }}</span>
			<span class="card-subtitle">participants</span>
		</div>

		<div class="card card-span-2">
			<span class="card-num">{{ guild.member_count }}</span>
			<span class="card-subtitle">members</span>
		</div>
	</div>
{% endblock %}
