:root {
	--main-bg: #4c5162;
	--main-shadow: #2224296b;
	--main-fg: #e4eafa;

	--content-bg: #f9fafb;
	--content-bg-shade: #eeeff2;
	--content-shadow: #c3c9d56b;
	--content-fg: #0e0f10;

	--list-bg: #fdfdfd;
	--list-fg: #404040;
	--list-shadow: #dddcdc;

	--control-bg: #ffffff;
	--control-fg: #131b31;
	--control-border: #e9eaec;
	--control-shadow: #adafb324;
	--control-bg-disabled: #aeaeae;

	--font-sans-serif: 'Livvic', sans-serif;
	--font-monospace: monospace;

	/* Used for controls, etc. */
	--accent-1: #4a5b95;
	--accent-1-fg: #e4eafa;

	/* Used for large headings */
	--accent-2: #1c233c;

	/* Used for smaller headings */
	--accent-3: #4e5e95;

	/* Row colors */
	--row-header: #263360;
	--row-text: #263360;
}

/* Dark theme colors */
@media (prefers-color-scheme: dark) {
	:root {
		--main-bg: #0e0e0f;
		--main-shadow: #0f0f116b;
		--main-fg: #dae4ff;

		--content-bg: #1b1b1c;
		--content-bg-shade: #131313;
		--content-shadow: #00000033;
		--control-bg-disabled: #aeaeae;
		--content-fg: #c7d3fb;

		--list-bg: #2a2a2f;
		--list-fg: #dfdfdf;
		--list-shadow: #101011;

		--control-bg: #383842;
		--control-fg: #c0c0cc;
		--control-border: #292a2b;
		--control-shadow: #00000012;

		--accent-1: #555d7e;
		--accent-1-fg: #e4eafa;
		--accent-2: #97a3cc;
		--accent-3: #9aa4c6;

		--row-header: #7e8ab3;
		--row-text: #c2cef9;
	}
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--main-bg);
	color: var(--main-fg);
	font-family: var(--font-sans-serif);
	font-size: 0.85em;
}

/* General site */

#navbar, .lower-navbar {
	margin: 30px auto;
	max-width: 800px;
	font-size: 1.25em;
}

#navbar ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
}

#navbar ul li { flex-shrink: 0; }

#navbar ul li.logo { flex-grow: 1; font-size: 1.5em; }

#navbar a {
	color: var(--main-fg);
	text-decoration: none;
}

#navbar #user-menu-button {
	padding: 6px 1em;
	background-color: var(--content-bg-shade);
	color: var(--accent-2);
	display: flex;
	align-items: center;
	cursor: link;
	border: none;
	border-radius: 6px;
	box-shadow: 1px 2px 4px var(--main-shadow);
	z-index: 801;
}

#navbar #user-menu-button .user-icon {
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
	margin-right: 0.5em;
	background-color: var(--content-bg);
	border-radius: 100%;
}

#navbar #user-menu-button .username {
	font-size: 1.2em;
}

#navbar #user-menu-button .username::after {
	content: '▾';
	font-size: 1.2em;
	margin-left: 0.75em;
}

#navbar #user-menu-popup {
	display: none;
	opacity: 0;
	z-index: 800;
}

#navbar #user-menu-popup ul {
	background-color: var(--content-bg);
	color: var(--content-fg);
	box-shadow: 2px 2px 4px var(--main-shadow);
}

#navbar #user-menu-popup ul li {
	border-bottom: 1px var(--content-shade) solid;
}

#navbar #user-menu-popup ul a {
	color: var(--content-fg);
}

.logo { font-weight: 600; }

header {
	text-align: center;
	padding: 50px;
	box-sizing: border-box;
}

a.button {
	font-size: 1.2em;
	background-color: var(--control-bg);
	color: var(--control-fg);
	padding: 10px 25px;
	border-radius: 10px;
	display: inline-block;
	font-weight: 600;
	text-decoration: none;
	box-shadow: 2px 3px 6px var(--content-shadow);
}

.accent-1 {
	background-color: var(--accent-1) !important;
	color: var(--accent-1-fg) !important;
}

.config-container .content hr {
	color: var(--content-bg-shade);
	border-top-width: 0px;
}

/* Main site */

.error-page-container { max-width: 850px; margin: 0 auto; padding: 20px; }

header h2 {
	line-height: 1.5em;
	max-width: 230px;
	margin: 0 auto;
	font-size: 2.3em;
}
/*
header h2 .highlight {
	display: inline-block;
	background: linear-gradient(180deg, var(--accent-1-light), var(--accent-1));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
*/

.error-container {
	font-size: 1.5em;
	margin: 50px 10vw;
}

/* Settings */

.config-container {
	display: flex;
	margin: 0 auto;
	max-width: 850px;
}

.config-container .ribbon {
	width: 40px;
	background-color: var(--content-bg-shade);
	color: var(--accent-3);
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.config-container nav {
	width: 26%;
	background-color: var(--content-bg-shade);
	color: var(--accent-2);
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	box-shadow: 0px -1px 7px var(--content-shadow) inset;
}

a.ui-button {
	color: var(--accent-2);
	text-decoration: none;
	border-radius: 4px;
	padding: 2px;
	width: 32px;
	height: 32px;
	font-size: 2em;
	font-weight: bold;
	display: inline-block;
	background-color: var(--content-bg);
	line-height: 1em;
	text-align: center;
}

.guild-list .row {
	padding: 10px;
}

.guild-list .row .description {
	display: flex;
	align-items: center;
	margin-right: 2em;
}

.guild-list .row .server-icon {
	width: 64px;
	height: 64px;
	min-width: 64px;
	min-height: 64px;
	border-radius: 100%;
	display: inline-block;
	margin-right: 2em;
}

.guild-list .row.unmanaged .description {
	opacity: 0.75;
}

.config-container nav ul {
	position: sticky;
	top: 0;
}

.sidebar-open-button {
	font-size: inherit;
	background-color: var(--control-bg);
	color: var(--control-fg);
	box-shadow: var(--control-shadow);
	border: 1px var(--control-border) solid;
	margin-right: 0.35em;
	width: 1.35em;
	border-radius: 12px;
}

.config-container nav ul .server-banner {
	padding: 12px 1.25em;
	display: flex;
}

.config-container nav ul .server-banner .server-icon {
	min-width: 42px;
	width: 42px;
	min-height: 42px;
	height: 42px;
	display: inline-block;
	margin-right: 0.75em;
	background-color: var(--content-bg);
	border-radius: 100%;
}

.config-container nav ul .server-banner .server-name {
	font-weight: bold;
	font-size: 1.25em;
}

.config-container nav .back-link {
	opacity: 0.75;
	color: var(--accent-2);
	font-size: 0.95em;
}

.config-container nav ul { margin: 0; padding: 0; list-style: none; }
.config-container nav ul a.nav-button {
	padding: 12px 1em 12px 0.75em;
	font-size: 1.5em;
	display: block;
	color: var(--accent-2);
	border-radius: 12px;
	font-weight: 600;
	text-decoration: none;
	transition-property: opacity;
	transition: .2s;

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-left: 6px;
}

.config-container nav ul a.nav-button.selected {
	background-color: var(--content-bg);
	box-shadow: 1px 2px 4px var(--content-shadow);
}

.config-container nav ul a.nav-button:not(.selected) {
	opacity: 0.5;
}

.config-container nav ul a.nav-button:not(.selected):hover {
	opacity: 0.75;
}

.config-container .content {
	background-color: var(--content-bg);
	color: var(--content-fg);
	padding: 24px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	z-index: 100;
}

.config-container .content.has-navbar {
	width: 74%;
}

.config-container .content > * {
	animation-duration: 0.5s;
	animation-name: fadein;
	animation-iteration-count: 1;
}

@keyframes fadein {
	0% { opacity: 0.2; }
	100% { opacity: 1; }
}

.config-container .content h1 {
	margin-top: 0;
	margin-bottom: 0.25em;
	font-size: 3em;
	color: var(--accent-2);
}

.config-container .content .section-header {
	padding-bottom: 0;
	padding-top: 1.25em;
	color: var(--accent-3);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.config-container .content .section-header h2 {
	margin: 0;
	font-size: 1.15em;
	text-transform: uppercase;
}

.row {
	display: flex;
	border-bottom: 1px var(--content-bg-shade) solid;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px 0;
	font-size: 1.05em;
}

.section-header { line-height: 1em; }
.row .description, .section-header .description { margin-right: 0.85em; flex-grow: 1; width: 60%; }
.row .description .subtitle, .section-header .subtitle { opacity: 0.75; margin: 0; line-height: 1.5em; }
.row .control, .section-header .control { padding: 1em 0; flex-basis: fit-content; text-align: right; }
.row .control { min-width: 30%; }
.section-header .control { padding: 0; }
.section-header .subtitle { font-size: 1.05em; }
#config-form .row .description .subtitle {
	font-size: 1.05em; 
	text-align: justify;
	text-justify: inter-word;
}

.section-header .control .switch {
	width: 32px;
	height: 14px;
	margin-right: 0.55em;
	margin-top: 1px;
}

.section-header .control .switch .slider::before {
	width: 12px;
	height: 12px;
}

.section-header .control .switch input:checked + .slider::before {
	transform: translateX(14px);
}

.row.control-is-list {
	display: block;
}

.row.control-is-list .description { width: 75%; }

.row h3, .row p {
	margin: 0;
	line-height: 1.5em;
}

.row h3 {
	color: var(--row-header);
}

.row p {
	color: var(--row-text);
}

.rows {
	transition: 0.35s;
}

.rows.disabled {
	color: #666;
	opacity: 0.35;
	cursor: default;
}

.rows.disabled .control * { cursor: not-allowed; }

.rows.disabled input:checked + .slider { background-color: var(--control-bg-disabled); }
.rows.disabled .slider::before { background-color: var(--control-bg-disabled); }
.rows.disabled input:checked + .slider::before { background-color: var(--accent-1-fg); }

#savebar {
	width: auto;
	position: sticky;
	bottom: 20px;
	padding: 8px;
	
	justify-content: flex-end;
	align-items: center;

	z-index: 9999;
	opacity: 0;
	display: none;

	font-size: 1.2em;
	border-radius: 6px;
	box-sizing: content-box;
	box-shadow: 2px 3px 6px var(--content-shadow);
	background-color: var(--content-bg-shade);
	color: var(--accent-3);
}

#savebar.savebar-visible {
	/* Transition doesn't work here as we switch from display:none
	 * to display:flex so the browser just skips the transition.
	 * The solution is to use an animation instead. */
	display: flex;
	opacity: 1;	
	animation: savebar-fadein 0.25s ease-out;
}

@keyframes savebar-fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

#savebar p {
	width: 100%;
	display: block;
	font-weight: 600;
}

#savebar a {
	color: var(--accent-2) !important;
	margin-right: 15px;
	display: block;
}

#savebar button {
	display: block;
	padding: 0.5em 1em;
	background-color: var(--accent-1);
	color: var(--accent-1-fg);
	border: 0px;
	border-radius: 12px;
	font-weight: bold;
	font-size: 1.25em;
	font-family: monospace;
	cursor: pointer;
}

footer { text-align: center; opacity: 0.8; }
footer a { color: var(--main-fg) !important; }

/* Controls */

input {
	border: 1px var(--control-border) solid;
	color: var(--control-fg);
	background-color: var(--control-bg);
	border-radius: 6px;
	transition: 0.1s;
	outline: 0px solid rgba(0, 0, 0, 0);
	padding: 6px;
	box-shadow: 2px 3px 6px var(--control-shadow);
	font-size: 1.05em;
}

input:focus {
	outline: 0px solid var(--accent-1);
	border-color: var(--accent-1);
}

select {
	border: 1px var(--control-border) solid;
	color: var(--control-fg);
	background-color: var(--control-bg);
	border-radius: 6px;
	transition: 0.1s;
	outline: 0px solid rgba(0, 0, 0, 0);
	padding: 6px 1em;
	box-shadow: 2px 3px 6px var(--control-shadow);
	font-size: 1.05em;
	width: 100%;
}

select:focus {
	outline: 0px solid var(--accent-1);
	border-color: var(--accent-1);
}	

.switch {
	position: relative;
	display: inline-block;
	width: 54px;
	height: 24px;
	border: 2px var(--control-border) solid;
	border-radius: 36px;
	box-sizing: content-box;
	box-shadow: 2px 3px 6px var(--control-shadow);
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--content-bg);
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 36px;
	box-sizing: unset;
}

.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 2px;
	bottom: 1px;
	background-color: var(--accent-1);
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 100%;
}

input:checked + .slider {
	background-color: var(--accent-1);
}

input:checked + .slider:before {
	background-color: var(--accent-1-fg);
	left: 4px;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.popup-menu {
	width: 100%;
	position: relative;
	display: none;
}

.popup-menu ul {
	position: absolute;
	width: 100%;
	background-color: var(--main-bg-dark);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.popup-menu ul li {
	display: block;
	width: 100%;
}

.popup-menu ul li a {
	display: block;
	width: 100%;
	padding: 12px 20px;
}

.server-icon, .user-icon {
	background-size: cover;
}

.input-list {
	width: 100%;
	display: block;
	background-color: var(--list-bg);
	border-radius: 12px;
	text-align: left;
	box-shadow: 0px -0.5px 2px var(--list-shadow) inset;
	margin: 0; padding: 0; list-style: none;
}

.input-list-item {
	min-width: 100%;
	display: block;
	border-bottom: 1px var(--content-bg-shade) solid;
	padding: 0.65em 0.85em;
	border-radius: 12px;
	margin: 0;
}

.input-list-item select {
	width: 65%;
}

.input-list-item .remove-button {
	font-size: 1.65em;
	background-color: var(--control-bg);
	border: 1px var(--control-border) solid;
	color: var(--list-fg);
	border-radius: 12px;
	float: right;
	box-shadow: 2px 3px 6px var(--control-shadow);
	width: 1.85em;
	cursor: pointer;
	padding-top: 2px;
}

.input-list-item .remove-button:disabled {
	opacity: 0.5;
	cursor: default;
}

/* Cards */
.cardbox {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: auto auto auto;
	gap: 0.55em;
}

.card {
	background-color: var(--control-bg);
	color: var(--control-fg);
	box-shadow: var(--control-shadow);
	border: 1px var(--control-border) solid;
	font-size: 1.25em;
	padding: 1em;
	border-radius: 10px;
	line-break: anywhere;
}

.card-span-2 {
	grid-column: span 2;
}

.card .card-num {
	font-size: 3em;
	font-weight: 800;
	display: block;
	width: 100%;
	line-height: 0.85em;
	margin-bottom: 0.5rem;
}

.card .card-subtitle {
	opacity: 0.85;
	font-size: 1.05em;
}

/* Media queries */
@media only screen and (max-width: 860px) {
	#navbar, .lower-navbar {
		padding: 0 24px;
	}
}

@media only screen and (min-width: 551px) {
	.config-container nav {
		display: block !important;
		opacity: 1 !important;
	}

	.sidebar-open-button {
		display: none;
	}
}

@media only screen and (max-width: 550px) {
	.cardbox {
		grid-template-columns: auto auto;		
	}

	.config-container nav {
		display: none;
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 65%;
		z-index: 999;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.config-container nav ul {
		height: 100%;
	}

	.config-container nav .nav-shade {
		width: 35%;
		height: 100%;
		background-color: var(--content-shadow);
		position: fixed;
		top: 0;
		right: 0;
	}

	.config-container nav ul a.nav-button {
		border-radius: 12px;
		margin-right: 6px;		
	}

	.config-container .content.has-navbar {
		width: 100%;
		border-radius: 12px;
	}

	.config-container .content h1 {
		font-size: 2.5em;
	}

	/* "Your servers" list */
	.guild-list .row .server-icon {
		width: 48px;
		height: 48px;
		min-width: 48px;
		min-height: 48px;
		margin-right: 1em;
	}

	.guild-list .row .description {
		margin-right: 0;
	}

	.config-container .content .guild-list {
		font-size: 0.85em;
	}

	#user-menu-button .username { display: none; }

	.input-list-item select { width: 85%; }
}
